.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0px;
  background-color: aqua;
}
input {
  padding: 0.2rem;
  width: 20rem;
  height: 2rem;
  border: 2px solid grey;
}

#emojieDb {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 2rem;
  width: 60%;
  /* margin-left: 20%; */
  /* margin-right: 20%; */
  cursor: pointer;
}
